---
import MainLayout from '@/layouts/MainLayout.astro';
import CanvaCn18 from "@/components/products/Canvacn18.astro";
import GuardCn18 from "@/components/products/Guardcn18.astro";
import MarketplaCn18 from "@/components/products/Marketplacn18.astro";
import SdkCli from "@/components/products/SdkCli.astro";

const VALID_PRODUCTS = ['canvacn18', 'guardcn18', 'marketplacn18', 'sdk-cli'] as const;
type ProductToken = typeof VALID_PRODUCTS[number];

export function getStaticPaths() {
  const languages = ['en', 'es'];
  
  return languages.flatMap((lang) => 
    VALID_PRODUCTS.map((product) => ({
      params: { lang, product }
    }))
  );
}

const productMap: Record<ProductToken, any> = {
    'canvacn18': CanvaCn18,
    'guardcn18': GuardCn18,
    'marketplacn18': MarketplaCn18,
    'sdk-cli': SdkCli,
};

const { product } = Astro.params;

const SelectedProduct = product ? productMap[product as ProductToken] : null;
---

<MainLayout>
  {SelectedProduct ? <SelectedProduct /> : <h1>404 - No encontrado</h1>}
</MainLayout>