---
import type { HowItWorksConfig } from '@/types/how-it-works-config';
import Stepper from '@/components/islands/Stepper';

type Props = {
  howItWorksConfig: HowItWorksConfig;
  t: any;
};

const { howItWorksConfig, t } = Astro.props;

const stepsWithExtras = howItWorksConfig.steps.map(step => ({
  ...step,
}));
---

<section id="how-it-works" class="border-main bg-mono-lighter/5 relative border-t-2 px-4 py-20 sm:px-6 lg:px-8">
  <div class="border-main/20 absolute bottom-8 left-8 h-16 w-16 border-b-2 border-l-2"></div>
  <div class="border-main/20 absolute right-8 bottom-8 h-16 w-16 border-r-2 border-b-2"></div>

  <div class="mx-auto max-w-7xl">
    <div class="scroll-fade-down mx-auto mb-16 max-w-3xl text-center">
      <h2 class="text-main mb-4 text-4xl font-bold sm:text-5xl">
        {howItWorksConfig.title}
      </h2>
      <p class="opacity-70 text-xl">
        {howItWorksConfig.subtitle}
      </p>
    </div>

    <Stepper 
      client:visible 
      steps={stepsWithExtras}
      backButtonText={t('previous')} 
      nextButtonText={t('next')}
    />
  </div>
</section>